.delievery {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    width: 659px;
    height: 455px;
}

.arrow {
    width: 10px;
    height: 10px;
    margin-left: 7px;
}

h1 {
    color: #254F4C;
    font-size: 29px;
    line-height: 42px;
}

p {
    color: #1D3130;
    font-size: 13px;
    line-height: 23px;
}

.menu__btn {
    width: 216px;
    height: 49px;
    border-radius: 100px;
    border: none;
    background: #FF583E;
    color: white;
    cursor: pointer;
}

.menu__btn:hover {
    background: green;
    transition: 1s;
}