.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0 48px;
    max-height: 32px;
    align-items: center;
    font-size: 16px;
    width: 1024px;
    margin: 20px auto;
}

.header__left {
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    align-items: center;
    
}

.header__left img {
    width: 32px;
    height: 32px;
}

.header__left h5 {
    color: #1D3130;
    font-size: 17px;
}

.header__left p {
    color: #1D3130;
    font-size: 14px;
}


.header__ul {
    display: flex;
    column-gap: 60px;
    list-style: none;
    font-size: 12px;
}

.nav {
    color: #1D3130;
    text-decoration: none;
    font-size: 12px;
}

.nav:hover {
    color: #FF583E;
}

.nav img {
    width: 14px;
    height: 12px;
}

.basket__icon {
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.basket__icon:hover {
    color: red;
    transform: scale(1.5);
}

.itemCount {
    margin-left: 5px;
    font-size: 12px;
}

.icon__li {
    display: flex;
}