/* src/adminPanel/adminComponents/CreateOrderPage/CreateOrderPage.css */

.create-order-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Mulish;
}

.create-order-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.create-order-page form div {
    margin-bottom: 15px;
}

.create-order-page label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-order-page input,
.create-order-page textarea,
.create-order-page select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Mulish;

}

.create-order-page button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.create-order-page button:hover {
    background-color: #0056b3;
}

.create-order-page .loading {
    text-align: center;
    margin-top: 20px;
}

.create-order-page .error {
    color: red;
    text-align: center;
    margin-top: 20px;
}